<h1>Home!</h1>

<div class='container'>
  <div class='row'>
    <h1>Contact form </h1>
    <form action="/email" method="post">
      <input type='text' placeholder='email' name='email' />
      <br />
      <input type='text' placeholder='name' name='name' />
      <br />
      <input type='text' placeholder='subject' name='subject' />
      <br />
      <textarea name='description' placeholder='How can I help you?' cols='30' rows='5'></textarea>
      <br />
      <input type="submit" value="Submit">
    </form>
  </div>
</div>